//COLORS
$color-primary: #81ecec;
$color-primary-light: #29dede;
$color-primary-dark: #1aa9a9;

$color-red-light: #eb685a;
$color-red-dark: #e53e2d;

$color-yellow-light: #f4d03f;
$color-yellow-dark: #c29d0b;

$color-purple-light: #b07cc6;
$color-purple-dark: #804399;

$color-blue-light-1: #6eb5e5;
$color-blue-dark-1: #217dbb;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONTS
$defult-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;